<mat-toolbar>
  <span class="flex-spacer"></span>
  <span>{{ "NOTES.MY_NOTES" | translate }}</span>
  <span class="flex-spacer"></span>
  <app-language-switcher></app-language-switcher>
</mat-toolbar>
<div class="content">
  <button
    class="create-btn"
    mat-flat-button
    color="primary"
    (click)="createNote()"
  >
    {{ "NOTES.CREATE" | translate }}
  </button>
  <mat-nav-list class="note-list">
    <mat-list-item
      class="note"
      [class.done]="note.done"
      *ngFor="let note of notes$ | async"
      (click)="openNote(note)"
    >
      <p matLine>{{ note.title }}</p>
      <mat-checkbox
        [checked]="note.done"
        (change)="toggleDoneStatus($event, note)"
        (click)="$event.stopPropagation()"
      ></mat-checkbox>
    </mat-list-item>
  </mat-nav-list>
</div>
