<mat-card class="note" *ngIf="note" [formGroup]="form">
  <mat-card-content *ngIf="editing; else body">
    <mat-form-field appearance="standard">
      <mat-label>{{ "NOTES.TITLE" | translate }}</mat-label>
      <textarea matInput formControlName="title"></textarea>
    </mat-form-field>
  </mat-card-content>

  <ng-template #body>
    <mat-card-content>
      <p>{{ note.title }}</p>
    </mat-card-content>
  </ng-template>

  <mat-card-actions>
    <mat-checkbox formControlName="done">{{
      "NOTES.DONE?" | translate
    }}</mat-checkbox>
  </mat-card-actions>
</mat-card>
